<section class="about container" id="quem-sou-eu">
  <div class="col-sm-4 about-items" id="about-foto">
    <img class="foto img-fluid" src="/assets/img/fotolattes.jpg" alt="selfie minha">
  </div>

  <div class="col-sm-8 about-items text-center" id="about-me">
    <h2 id="about-title">Quem sou eu</h2>
    <p id="descricao">
      Mestra em Física pela Universidade Federal de Pelotas e doutora em Geofísica Espacial pelo Instituto Nacional de Pesquisas Espaciais. Atualmente trabalho na área de ciência e análise de dados, contribuindo para a criação e manutenção de dashboards e me aprofundando em visualização de dados. Sou uma cientista apaixonada por fotografia, gatos e python.
    </p>
  </div>
</section>